<footer class="footer_container">
	<div class="home_footer">
		<div class="top_footer">
			<section class="consulting_info">
				<a>
					<img id="consulting_logo" class="consulting_logo" src="{{ asset('assets/img/footer/logo_consulting.png') }}" alt="logo inaya consulting"/>
				</a>
				<p>There are many variations of passages of Lorem the Ipsum available but it is the majority of suffered that a alteration in that some dummy text.</p>
			</section>

			<section class="service">
				<h6>Services</h6>
				<p>Incident Responder</p>
				<p>Secure Managed IT</p>
				<p>Check website Url</p>
				<p>Locker Security</p>
			</section>
			<section class="about">
				<h6>About Us</h6>
				<p>Payment Plans</p>
				<p>Make saving More</p>
				<p>Tax Calculator</p>
				<p>Talk To Us</p>
			</section>
			<section class="follow">
				<h6>Follow Us</h6>
				<div class="follow_img">
					<a href="https://www.linkedin.com/company/inaya-groupe/about/" target="_blank">
						<img src="{{ asset('assets/img/footer/linkedin.png') }}" alt="linkedin">
					</a>
					<a href="">
						<img src="{{ asset('assets/img/footer/twitter.png') }}" alt="vector">
					</a>
				</div>
			</section>
		</div>
		<hr>
		<div class="down_footer">
			<section class="footer-downsection">
				<p>
					©
					<span id="">
						2024
					</span>
					Ï-Naya Consulting. Tous droits réservés.
				</p>
			</section>
		</div>
	</div>
</footer>
