<header>
	<div class="header_fixed" id="menu">
		<div class="header_container">
			<a class="logo_link">
				<img id="consulting_logo" class="consulting_logo" src="{{ asset('assets/img/header/logo_consulting.png') }}" alt="logo inaya consulting"/>
			</a>
			<input type="checkbox" id="nav-toggler" class="nav-toggler">
			<label for="nav-toggler">
				<span class="menu_open"></span>
				<img class="menu_close" src="{{ asset('assets/img/header/menu_close.png') }}" alt="menu close"/>
			</label>
			<nav class="nav_container">
				<ul>
					<li><a class="" href="">Accueil</a></li>
					<li><a href="">A propos</a></li>
					<li><a href="">Nous</a></li>
					<li><a href="">Case study</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

{# /* ----nav fixed adjust */ #}

{# <header class="header_container">
	<a class="logo_link">
		<img id="consulting_logo" class="consulting_logo" src="{{ asset('assets/img/header/logo_consulting.png') }}" alt="logo inaya consulting"/>
	</a>
	<input type="checkbox" id="nav-toggler" class="nav-toggler">
	<label for="nav-toggler">
		<span class="menu_open"></span>
		<img class="menu_close" src="{{ asset('assets/img/header/menu_close.png') }}" alt="menu close"/>
	</label>
	<nav class="nav_container">
		<ul>
			<li><a class="" href="">Accueil</a></li>
			<li><a href="">A propos</a></li>
			<li><a href="">Nous</a></li>
			<li><a href="">Case study</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</nav>
</header> #}

{# ------------------Nav HTML end --------------------- #}

{% block javascripts %}{% endblock %}
