{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/homepage/style.css') }}"/>
{% endblock %}

{% block pagecontent %}
	<div
		class="home_container">
		<!-- ************ start home | first part hero section *********** -->
		<div class="home_hero_container">
			<div class="home_hero">
				<section class="hero_left">
					<div>
						<h1>Le consulting spécialisé dans la technologie</h1>
						<button><img src="{{ asset('assets/img/homepage/hero/right_arrow.png') }}" alt="larrow savoir plus"/>
							En savoir plus
						</button>
					</div>
				</section>
				<section class="hero_right">
					<div class="hero_growth">
						<div class="joined_people">
							<div class="bar"></div>
							<div class="customer_info">
								<div class="avatar">
									<img src="{{ asset('assets/img/homepage/hero/man_one.png') }}" alt=""/>
									<img src="{{ asset('assets/img/homepage/hero/man_two.png') }}" alt=""/>
									<img src="{{ asset('assets/img/homepage/hero/man_three.png') }}" alt=""/>
								</div>
								<p class="digits">124K+</p>
								<p>More than 2,000
									<br>
									people has joined us</p>
							</div>
						</div>
						<div class="presentation_image">
							<img src="{{ asset('assets/img/homepage/hero/hero_img.png') }}" alt=""/>
						</div>
						<div class="progess_bar">
							<p>Succesful growth</p>
							<img src="{{ asset('assets/img/homepage/hero/fi.png') }}" alt=""/>
						</div>
					</div>
					<div class="theme_image_blue">
						<img src="{{ asset('assets/img/homepage/hero/image.png') }}" alt=""/>
					</div>
					<section class="turnover">
						<div class="calcul_satisfied">
							<p>satisfied rate</p>
							<p class="satisfied_rate">98%</p>
						</div>
						<div class="calcul_successful">
							<p>successful projects</p>
							<p class="successful_rate">14K</p>
						</div>
						<div class="calcul_clients">
							<p>clients served</p>
							<p class="clients_rate">5,8K</p>
						</div>
					</section>
				</section>
			</div>
		</div>
		<!-- ************ end home | first part hero section *********** -->

		<!-- ************ start home | 2nd part Comprehensive IT Services *********** -->
		<div class="it_service_container">
			<section class="home_it_service">
				<div class="it_service">
					<h2>Comprehensive IT Services</h2>
					<p>ProTech offers a wide range of IT solutions to meet your business needs.</p>
				</div>
				<div class="it_service_topic">
					<div>
						<img class="icon_it_service" src="{{ asset('assets/img/homepage/it_service/cybersecurity.png') }}" alt=""/>
						<p>Cybersecurity Solutions</p>
					</div>
					<section>
						<img class="theme_image_it_service" src="{{ asset('assets/img/homepage/it_service/theme.png') }}" alt=""/>
					</section>
					<div>
						<img class="icon_it_service" src="{{ asset('assets/img/homepage/it_service/cybersecurity.png') }}" alt=""/>
						<p>Cybersecurity Solutions</p>
					</div>
					<div>
						<img class="icon_it_service" src="{{ asset('assets/img/homepage/it_service/it_service.png') }}" alt=""/>
						<p>Managed IT Services</p>
					</div>
					<div>
						<img class="icon_it_service" src="{{ asset('assets/img/homepage/it_service/cloud.png') }}" alt=""/>
						<p>Cloud Integration</p>
					</div>
					<div>
						<img class="icon_it_service" src="{{ asset('assets/img/homepage/it_service/data.png') }}" alt=""/>
						<p>Data Analytics & Resouces</p>
					</div>
					<div>
						<img class="icon_it_service" src="{{ asset('assets/img/homepage/it_service/software.png') }}" alt=""/>
						<p>Software Development</p>
					</div>
				</div>
			</section>
		</div>
		<!-- ************ end home | 2nd part Comprehensive IT Services *********** -->

		<!-- ************ start home | 3rd part successful projects *********** -->
		<div class="project_container">
			<section class="home_project">
				<div class="left_home_project">
					<h3>See Our Successful Projects</h3>
					<p>Explore Our Success Stories</p>
					<button>See all projects
						<img src="{{ asset('assets/img/homepage/projects/arrow.png') }}" alt="">
					</button>
				</div>
				<div class="right_home_project">
					<div class="showcase">
						<img class="showcase__bg_img" src="{{ asset('assets/img/homepage/projects/project_img1.png') }}" alt="">
						<div class="bg_overlay_navy"></div>
						<div class="showcase__overlay">
							<h3 class="showcase__title">Network Optimization</h3>
							<p class="showcase__description">
								Seamless transition for a growing startup. Constantly...</p>
							<p class="description__hover">
								Seamless transition for a growing startup. Constantly seeking new and better ways to solve IT challenges. Operating with honesty and ethical behavior.
							</p>
						</div>
						<img class="hover_arrow" src="{{ asset('assets/img/homepage/projects/arrow_hover.png') }}" alt="">
					</div>
					<div class="showcase">
						<img class="showcase__bg_img" src="{{ asset('assets/img/homepage/projects/project_img2.png') }}" alt="">
						<div class="bg_overlay_navy"></div>
						<div class="showcase__overlay">
							<h3 class="showcase__title">Cybersecurity Enhancement</h3>
							<p class="showcase__description">
								Seamless transition for a growing startup. Constantly...</p>
							<p class="description__hover">
								Seamless transition for a growing startup. Constantly seeking new and better ways to solve IT challenges. Operating with honesty and ethical behavior.
							</p>
						</div>
						<img class="hover_arrow" src="{{ asset('assets/img/homepage/projects/arrow_hover.png') }}" alt="">
					</div>
					<div class="showcase">
						<img class="showcase__bg_img" src="{{ asset('assets/img/homepage/projects/project_img3.png') }}" alt="">
						<div class="bg_overlay_navy"></div>
						<div class="showcase__overlay">
							<h3 class="showcase__title">Cloud Migration</h3>
							<p class="showcase__description">
								Seamless transition for a growing startup. Constantly...</p>
							<p class="description__hover">
								Seamless transition for a growing startup. Constantly seeking new and better ways to solve IT challenges. Operating with honesty and ethical behavior.
							</p>
						</div>
						<img class="hover_arrow" src="{{ asset('assets/img/homepage/projects/arrow_hover.png') }}" alt="">
					</div>
					<div class="showcase">
						<img class="showcase__bg_img" src="{{ asset('assets/img/homepage/projects/project_img4.png') }}" alt="">
						<div class="bg_overlay_navy"></div>
						<div class="showcase__overlay">
							<h3 class="showcase__title">Data Analytics Success</h3>
							<p class="showcase__description">
								Seamless transition for a growing startup. Constantly...</p>
							<p class="description__hover">
								Seamless transition for a growing startup. Constantly seeking new and better ways to solve IT challenges. Operating with honesty and ethical behavior.
							</p>
						</div>
						<img class="hover_arrow" src="{{ asset('assets/img/homepage/projects/arrow_hover.png') }}" alt="">
					</div>
				</div>
			</section>
		</div>
		<!-- ************ end home | 3rd part successful projects *********** -->

		<!-- ************ start home | 4th part the core values *********** -->
		<div class="core_value_container">
			<section class="home_core_value">
				<div class="core_value_left">
					<h4>All The Core Values We Stand for</h4>
					<p>We are guided by these principles in everything we do to serve you the best services and get the best result at its goals.</p>
				</div>
				<div class="core_value_right">
					<section class="right_section">
						<div class="icon_container1">
							<div class="icon_container">
								<img src="{{ asset('assets/img/homepage/core_values/value_icon1.png') }}" alt=""/>
							</div>
							<p class="titre">Innovation</p>
							<p class="sous_titre">Constantly seeking new and better ways to solve IT challenges.</p>
						</div>
						<div class="icon_container2">
							<div class="icon_container">
								<img src="{{ asset('assets/img/homepage/core_values/value_icon2.png') }}" alt=""/>
							</div>
							<p class="titre">Integrity</p>
							<p class="sous_titre">Operating with honesty, transparency, and ethical behavior.</p>
						</div>
						<div class="icon_container3">
							<div class="icon_container">
								<img src="{{ asset('assets/img/homepage/core_values/value_icon3.png') }}" alt=""/>
							</div>
							<p class="titre">Customer-Centricity</p>
							<p class="sous_titre">Putting clients' needs at the forefront of our operations.</p>
						</div>
					</section>
					<section class="left_section">
						<div class="icon_container4">
							<div class="icon_container">
								<img src="{{ asset('assets/img/homepage/core_values/value_icon4.png') }}" alt=""/>
							</div>
							<p class="titre">Collaboration</p>
							<p class="sous_titre">Working closely with clients to achieve mutual success.</p>
						</div>
						<div class="icon_container5">
							<div class="icon_container">
								<img src="{{ asset('assets/img/homepage/core_values/value_icon5.png') }}" alt=""/>
							</div>
							<p class="titre">Quality</p>
							<p class="sous_titre">Delivering top-notch IT solutions, prices, and services.</p>
						</div>
						<div class="icon_container6">
							<div class="icon_container">
								<img src="{{ asset('assets/img/homepage/core_values/value_icon6.png') }}" alt=""/>
							</div>
							<p class="titre">Flexibility</p>
							<p class="sous_titre">Delivering the result with flexible times and solutions.</p>
						</div>
					</section>
				</div>
			</section>
		</div>
		<!-- ************ end home | 4th part the core values *********** -->

		<!-- ************ start home | 5th part spend with your card *********** -->
		<div class="card_container">
			<section class="home_card_container">
				<h3>Get started spending with your card in minutes.</h3>
				<section>
					<div>
						<h6>989K</h6>
						<p class="test">Crowdholding accepts a variety of payments.</p>
					</div>
					<div>
						<h6>89%</h6>
						<p>Payment with us is easy and straight forward</p>
					</div>
					<div>
						<h6>4583+</h6>
						<p>We accept all major currencies and cryptocurrencies</p>
					</div>
				</section>
			</section>
		</div>
		<!-- ************ end home | 5th part spend with your card *********** -->

		<!-- ************ start home | 6th part data loop*********** -->
		<div class="data_loop_container">
			<section class="home_data_loop">
				<div class="data_loop_top">
					<div>
						<img class="data_img" src="{{ asset('assets/img/homepage/data/data_img1.png') }}" alt=""/>
						<div class="data_info">
							<h6>Data loop and zeitgeist</h6>
							<p>Get all your ducks in a row good optics close the loop and zeitgeist so manage quarterly sales are great to hear for me.</p>
							<button class="cta">Read More
								<img src="{{ asset('assets/img/homepage/data/arrow.png') }}" alt=""/></button>
						</div>
					</div>
					<div>
						<img class="data_img" src="{{ asset('assets/img/homepage/data/data_img2.png') }}" alt=""/>
						<div class="data_info">
							<h6>Data loop and zeitgeist</h6>
							<p>Get all your ducks in a row good optics close the loop and zeitgeist so manage quarterly sales are great to hear for me.</p>
							<button class="cta">Read More
								<img src="{{ asset('assets/img/homepage/data/arrow.png') }}" alt=""/></button>
						</div>
					</div>
				</div>

				<div class="data_loop_bottom">
					<div>
						<img class="data_img" src="{{ asset('assets/img/homepage/data/data_img3.png') }}" alt=""/>
						<div class="data_info">
							<h6>Data loop and zeitgeist</h6>
							<p>Get all your ducks in a row good optics close the loop and zeitgeist so manage quarterly sales are great to hear for me.</p>
							<button class="cta">Read More
								<img src="{{ asset('assets/img/homepage/data/arrow.png') }}" alt=""/></button>
						</div>
					</div>
					<div>
						<img class="data_img" src="{{ asset('assets/img/homepage/data/data_img4.png') }}" alt=""/>
						<div class="data_info">
							<h6>Data loop and zeitgeist</h6>
							<p>Get all your ducks in a row good optics close the loop and zeitgeist so manage quarterly sales are great to hear for me.</p>
							<button class="cta">Read More
								<img src="{{ asset('assets/img/homepage/data/arrow.png') }}" alt=""/></button>
						</div>
					</div>
				</div>

			</section>
		</div>
		<!-- ************ end home | 6th part data loop*********** -->

		<!-- ************ start home | 7th part customers reviews *********** -->

		<div class="review_container">
			<section class="home_review">
				<div class="home_review_top">
					<div class="review_top_testimonial">
						<p>Testimonial</p>
						<h4>Honest  reviews from our customers
						</h4>
					</div>
					<div class="arrow_div">
						<button onclick="scrolll()"><img src="{{ asset('assets/img/homepage/customer_reviews/arrow1.png') }}" alt=""/></button>
						<button onclick="scrollr()"><img src="{{ asset('assets/img/homepage/customer_reviews/arrow2.png') }}" alt=""/></button>
					</div>
				</div>
				<div class="home_review_bottom">
					<div class="">
						<section class="customer_opinion">
							<div class="customer_identity">
								<img src="{{ asset('assets/img/homepage/customer_reviews/avatar1.png') }}" alt=""/>
								<div>
									<h6>Mila McSabbu</h6>
									<p>Freelance Designer</p>
								</div>
							</div>
						</section>
						<p class="blockquote">OMG! I cannot believe that I have got a new landing page after getting sassmix. It was super easy to edit and publish.</p>
					</div>
					<div class="">
						<section class="customer_opinion">
							<div class="customer_identity">
								<img src="{{ asset('assets/img/homepage/customer_reviews/avatar3.png') }}" alt=""/>
								<div>
									<h6>Mila McSabbu</h6>
									<p>Freelance Designer</p>
								</div>
							</div>
						</section>
						<p class="blockquote">OMG! I cannot believe that I have got a new landing page after getting sassmix. It was super easy to edit and publish.</p>
					</div>
					<div class="">
						<section class="customer_opinion">
							<div class="customer_identity">
								<img src="{{ asset('assets/img/homepage/customer_reviews/avatar1.png') }}" alt=""/>
								<div>
									<h6>Mila McSabbu</h6>
									<p>Freelance Designer</p>
								</div>
							</div>
						</section>
						<p class="blockquote">OMG! I cannot believe that I have got a new landing page after getting sassmix. It was super easy to edit and publish.</p>
					</div>
					<div>
						<section class="customer_opinion">
							<div class="customer_identity">
								<img src="{{ asset('assets/img/homepage/customer_reviews/avatar2.png') }}" alt=""/>
								<div>
									<h6>Robert Fox</h6>
									<p>UI/UX Designer</p>
								</div>
							</div>
						</section>
						<p class="blockquote">OMG! I cannot believe that I have got a new landing page after getting sassmix. It was super easy to edit and publish.</p>
					</div>
					<div>
						<section class="customer_opinion">
							<div class="customer_identity">
								<img src="{{ asset('assets/img/homepage/customer_reviews/avatar3.png') }}" alt=""/>
								<div>
									<h6>Jenny Wilson</h6>
									<p>Web Developer</p>
								</div>
							</div>
						</section>
						<p class="blockquote">OMG! I cannot believe that I have got a new landing page after getting sassmix. It was super easy to edit and publish.</p>
					</div>
					<div>
						<section class="customer_opinion">
							<div class="customer_identity">
								<img src="{{ asset('assets/img/homepage/customer_reviews/avatar4.png') }}" alt=""/>
								<div>
									<h6>Mila McSabbu</h6>
									<p>Freelance Designer</p>
								</div>
							</div>
						</section>
						<p class="blockquote">OMG! I cannot believe that I have got a new landing page after getting sassmix. It was super easy to edit and publish.</p>
					</div>
				</div>
			</section>
		</div>
		<!-- ************ end home | 7th part customers reviews *********** -->

		<!-- ************ start home | 8th part ready to elevate IT infrastructure *********** -->
		<div class="testimonial_container">
			<div class="home_testimonial">
				<h3>Ready to elevate your IT infrastructure, enhance security, and drive growth?
				</h3>
				<p>Contact us today to discuss customized solutions for your business.</p>
				<button>Contact Us</button>
			</div>
		</div>
		<!-- ************ end home | 8th part ready to elevate IT infrastructure *********** -->
	</div>
	<!-- ************ home ends *********** -->
{% endblock %}


{% block javascripts %} 
	 <script>
			( () => {	
										
			  let onResize = () =>{
				    let home_review_top = document.querySelector(".home_review_top");
					let home_review_bottom = document.querySelector(".home_review_bottom");
					let rect = home_review_top.getBoundingClientRect();//dom el from Js api 
			        let home_review_top_distanceFromLeft = rect.left;		      
			        home_review_bottom.style.marginLeft = home_review_top_distanceFromLeft+'px';

			}
						
			document.addEventListener ('DOMContentLoaded', onResize);
			document.addEventListener('resize', onResize);			    

			})();
			 </script>

			 <script>
				function scrolll(){
					  var left = document.querySelector(".home_review_bottom");
					  left.scrollBy(350, 0)
				   }
				   function scrollr(){
					  var right = document.querySelector(".home_review_bottom");
					  right.scrollBy(-350, 0)
				   }
			 </script>
{% endblock %}




