/* ==================================================================================== */
/*                                  common css                                          */
/* ==================================================================================== */
:root{
  --containter-max-width: 1440px;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  width: 100%;
  max-width: 2220px;
  font-family: "Inter", sans-serif;
  margin: 0 auto !important;
}
img {
  display: block;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
