*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer.footer_container {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
  padding-top: 70px; 
  min-height: 30vh;
  font-family: "Manrope", sans-serif;
}

.home_footer{
  max-width: 1440px;
  margin-inline: auto;
}
.service h6, .about h6, .follow h6 {
  font-size: 22px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 30px;
}

 .top_footer p, .down_footer p{
  color: #042552;
  font-size: 16px;
  font-weight: 100;
}

.consulting_info p{
  line-height: 28px;
}

div.top_footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-bottom: 40px;
  gap: 20px;
}

section.consulting_info{
  max-width: 380px;
}

.consulting_info a img{
  height: 100px;
  width: 320px;
  object-fit: contain;
}


section.about{
  padding-left: 50px;

}

section.follow{
  padding-left: 50px;

}

.follow_img{
  display: flex;
  gap: 15px;
}

.follow_img a img{
    height: 25px;
    width: 25px;
    object-fit: cover;
}

hr{
  border-color: rgb(178, 173, 173);
}

div.down_footer{
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
/* 

/********** end **********/


/* ---------------------------------------- */
/* ----------- media | quaries ---------  */
/* ---------------------------------------- */

/* ----------- start media | screen 1440px ---------  */

@media only screen and (max-width: 1440px) {
  footer .home_footer {
    padding-inline: 80px;

  }
  header.header_container {
    padding: 0 0px;
    padding-bottom: 50px;
  }

}

/* ----------- end media | screen 1440px ---------  */

/* ----------- start media | tablet ---------  */
@media only screen and (max-width: 992px) {

  footer .home_footer {
    padding-inline: 10px;
  }

  .footer_container{
    /* border: 2px solid green; */
  }

  .consulting_info {
    margin-inline: 40px;
  }
  .consulting_info p{
    /* color: red; */
    line-height: 28px;
  }
  .consulting_info a img{
    width: 220px;
    object-fit: contain;
  }
  .service h6, .about h6, .follow h6{
    font-size: 18px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 30px;
  
  }
  
  .top_footer p, .down_footer p{
    color: #042552;
    font-size: 11px;
    font-weight: 100;
  }

  section.service{
    padding-left: 45px;
  
  }

  div.top_footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 40px;
  }

}
/* ----------- end media | tablet ---------  */


/* ----------- start media | mobile ---------  */
@media only screen and (max-width: 600px) {

  .footer_container{
    /* border: 2px solid blue; */
  }
  .home_footer{
    /* border: 2px solid yellow; */
  }

  .consulting_info {
    margin-inline: 0px;
  }
  .consulting_info {
    padding-right: 10px;
  }

  .consulting_info a img{
    width: 150px;
    object-fit: contain;
  }

  div.top_footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 40px;
  }
  
  section.consulting_info{
    max-width: 160px;
  }

  section.service, section.about, section.follow {
    padding-left: 0px;
  
  }
}

/* ----------- end media | mobile ---------  */