/* ----nav fixed adjust */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin: 0;
}

header div.header_fixed {
  position: fixed; /* Fixed position for the inner container */
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  background-color: inherit; /* Inherit the background color from the parent header */
}
div.header_container {
  max-width: 1440px;
  margin: 0;
  margin-inline: auto;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 4;
  padding-bottom: 0px;
}

div.header_container a.logo_link {
  display: grid;
  place-items: center;
}

div.header_container a.logo_link img {
  width: 370px;
  height: auto;
  object-fit: cover;
}

div.header_container input,
div.header_container label {
  display: none;
}

nav.nav_container ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav.nav_container {
  transform: scale(1, 1);
  text-align: center;
  padding: 30px 0;
}
nav.nav_container ul {
  top: 0;
  background-color: transparent;
  padding-left: 0;
  margin-bottom: 0;
  padding: 20px 0px 10px;
}
nav.nav_container ul li {
  transform: scale(1, 1);
  display: inline-block;
  width: 140px;
  height: 25px;
  position: relative;
}

nav.nav_container ul li:last-child {
  background-color: rgb(75, 178, 233);
  width: 155px;
  height: 55px;
  line-height: 50px;
  margin-left: 30px;
  border-radius: 15px;
}
nav.nav_container ul li:last-child a {
  color: white;
} 

img.menu_close {
  color: #918d8d;
  display: none;
  padding: 5px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  z-index: 3;
  position: fixed;
}

/* ---------------------------------------- */
/* ----------- media | quaries ---------  */
/* ---------------------------------------- */
/* ----------- end media | Mac 1590px ---------  */
@media only screen and (max-width: 1590px) {
  div.header_container {
    padding-inline: 140px;
  }

  div.header_container a.logo_link img {
    width: 300px;
    height: auto;
    object-fit: cover;
    margin-top: 0;
  }

  nav.nav_container ul {
    padding: 20px 0px 10px;
  }

  nav.nav_container ul li {
    width: 110px;
  }

  nav.nav_container ul li:last-child {
    width: 120px;
    margin-left: 0;
  }

}
  /* ---------end home | first part hero section ---------  */

/* ----------- start media | screen 1440px ---------  */

/* @media only screen and (min-width: 1101px) and (max-width: 1440px) { */
@media only screen and (max-width: 1440px) {

  div.header_container {
    padding-inline: 140px;
  }

  div.header_container a.logo_link img {
    width: 300px;
    height: auto;
    object-fit: cover;
    margin-top: 0;
  }

  nav.nav_container ul {
    padding: 20px 0px 10px;
  }

  nav.nav_container ul li {
    width: 110px;
  }

  nav.nav_container ul li:last-child {
    width: 120px;
    margin-left: 0;
  }
}
/* ----------- end media | screen 1440px ---------  */
/* ----------- start media | screen 1100px/1240px ---------  */
@media only screen and (max-width: 1280px) {
  div.header_container {
    padding-bottom: 20px;
  }

  div.header_container a.logo_link img {
    width: 300px;
  }

  nav.nav_container ul li a {
    font-size: 18px;
  }
  nav.nav_container ul li:last-child {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 0px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 1240px) {
  div.header_container {
    margin-top: 30px;
  }

  div.header_container a.logo_link img {
    margin-top: 20px;
  }

  div.header_container input.nav-toggler {
    position: absolute;
    top: 50px;
    right: 2%;
    opacity: 0;
  }
  div.header_container input.nav-toggler:checked ~ nav {
    transform: scale(1, 1);
  }
  div.header_container input.nav-toggler:checked ~ nav.nav_container ul {
    opacity: 1;
  }
  div.header_container input.nav-toggler:checked ~ nav ul li {
    transform: scale(1, 1);
    transition: 250ms ease-in-out;
    color: white;
  }
  div.header_container input.nav-toggler:checked ~ nav ul li a {
    color: white;
    cursor: pointer;
  }
  div.header_container label {
    position: absolute;
    top: 38px;
    right: 12%;
    height: 9%;
    width: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  div.header_container label span,
  div.header_container label span::before,
  div.header_container label span::after {
    position: relative;
    height: 3px;
    width: 25px;
    z-index: 2;
    background: rgb(12, 12, 12);
  }
  div.header_container label span::before {
    content: "";
    position: absolute;
    top: 7px;
  }
  div.header_container label span::after {
    content: "";
    position: absolute;
    bottom: 7px;
  }

  nav.nav_container {
    transform: scale(0, 1);
    transition: all 350ms ease-in-out;
    /* transform: translateX(-320px); */
    /* transition: 250ms ease-in-out; */
    transform-origin: 100%;
    /* transform-origin: top; */
    padding-top: 0;
    position: fixed;
    right: 0%;
    /* left: 50%; */
    top: 0;
  }

  nav.nav_container ul li a {
    font-size: 18px;
  }
  nav.nav_container ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: #fff; */
    /* padding: 0; */
    height: 100vh;
    width: 50vw;
    display: grid;
    place-items: center;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 300px;
    opacity: 0;
  }
  nav.nav_container ul li {
    width: 155px;
    transform: scale(1, 0);
    text-align: center;
    padding: 20px 20px;
    display: block;
  }

  nav.nav_container ul li:last-child {
    background-color: rgb(75, 178, 233);
    width: 155px;
    height: 40px;
    line-height: 0px;
    margin-left: 0px;
    border-radius: 15px;
    margin-top: 20px;
  }

  
  #nav-toggler:checked ~ label span.menu_open {
    display: none;
  }
  #nav-toggler:checked ~ label img.menu_close {
    display: block;
  }
}

/* ----------- end media | screen 1140px ---------  */

/* ----------- start media | tablet ---------  */
@media only screen and (max-width: 992px) {
  div.header_container {
    padding-inline: 100px;
  }
  div.header_container a.logo_link img {
    padding-top: 20px;
  }
}
/* ----------- end media | tablet ---------  */

/* ----------- start media | mobile ---------  */
@media only screen and (max-width: 600px) {
  div.header_container {
    /* border: 1px solid blue; */
    /* background-color: black; */
    /* margin-inline: auto; */
    /* max-width: 100%; */
    padding-inline: 30px;
  }

  div.header_container a.logo_link{
    /* background-color: green; */
  }

  div.header_container a.logo_link img {
    /* background-color: red; */
    padding-top: 0;
    width: 200px;
    height: auto;
    object-fit: cover;
  }

  div.header_container label {
    top: 25px;
    right: 10%;
  }
  nav.nav_container ul li a {
    font-size: 14px;
  }
}
/* ----------- end media | mobile ---------  */
