* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Switzer";
  src: url("../../fonts/Switzer-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("../../fonts/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("../../fonts/Switzer-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* ----- */
@font-face {
  font-family: "Satoshi";
  src: url("../../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

div.home_container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 180px;
  /* border: 2px solid blue; */

}

/* -------- end home container  | */

/* ---------start home | first part hero section ---------  */

div.home_hero_container {
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}
div.home_hero {
  max-width: 1440px;
  margin-inline: auto;
  padding: 0 20px;  
  display: flex;
}
div.home_hero > * {
  flex: 1;
}
.hero_left {
  display: grid;
  place-items: center;
}
.hero_left h1 {
  font-size: 80px;
  line-height: 120px;
}
.hero_left button {
  display: flex;
  place-items: center;
  color: #222842;
  font-weight: 200;
  background-color: transparent;
  border: none;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}
.hero_left button img {
  width: 55px;
  height: 55px;
  background-color: #3ab8ff;
  border-radius: 12px;
  padding: 10px;
  margin-right: 10px;
}

.hero_right {
  position: relative;
  font-family: "Switzer";
}

.hero_growth {
  display: grid;
  gap: 1.5em;
  grid-template-areas:
    "joinedPeople presentation"
    "joinedPeople presentation"
    "progress     presentation";
}
.joined_people {
  background-color: #34c1ed;
  grid-area: joinedPeople;
  border-radius: 30px;
}
.joined_people .bar {
  position: relative;
}
.bar::before {
  content: "";
  width: 2px;
  height: 170px;
  background-color: #ffffff;
  position: absolute;
  top: 40px;
  left: 40px;
}
/* controll the .customer_info start */

.customer_info p {
  color: #ffffff;
  max-width: 70%;
  margin-left: auto;
  font-weight: 300;
  font-size: 18px;
}
.customer_info p.digits {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 5px;
}
.customer_info p:not(.digits) {
  padding-right: 20px;
  line-height: 20px;
}
.avatar {
  display: flex;
  justify-content: end;
  margin: 45px 20px 60px;
  padding-right: 35px;
}
.avatar img {
  height: 50px;
  width: 50px;
  transform: scale(1.2);
  border: 2px solid white;
  border-radius: 50%;
}
.avatar img:nth-child(1) {
  z-index: 3;
}
.avatar img:nth-child(2) {
  z-index: 2;
}
.avatar img:nth-child(3) {
  z-index: 1;
}
.presentation_image {
  grid-area: presentation;
  max-height: 435px;  
  /* adjusting image */
  max-width: 385px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.presentation_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

 /* adjusting image end*/
.progess_bar {
  grid-area: progress;
  border-radius: 30px;
  background-color: #34c1ed;
  display: flex;
  align-items: center;
}
.progess_bar p {
  color: #ffffff;
  margin-left: 40px;
  max-width: 100px;
  font-size: 18px;
  font-weight: 200;
  margin-top: 10px;
  line-height: 20px;
}
.progess_bar img {
  padding-top: 10px;
  height: 100%;
  width: 124px;
}

.theme_image_blue {
  margin-top: 1.5em;
   /* adjusting image */
   max-width: 700px;
   min-width: 521px;
   max-height: 268px;
   border-radius: 30px;
   overflow: hidden;
   position: relative;
}
.theme_image_blue img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* turnover */
.turnover {
  position: absolute;
  right: -90px;
  bottom: 80px;
}
.turnover div {
  background-color: #222842;
  border-radius: 15px;
  padding: 25px 0px 0px 25px;
  text-align: center;
  margin-top: 35px;
}
.turnover div p {
  width: 160px;
  color: #ffffff;
  margin: 0;
  text-align: left;
  margin-top: -12px;
  font-size: 20px;
}
.turnover div p:nth-child(2) {
  font-weight: 600;
  font-size: 60px;
  color: #3adcff;
}

/* ----------- end home | first part hero section ---------  */

/* ----------- start home | 2nd part Comprehensive IT Services ---------  */
.it_service_container {
  max-width: 100%;
  background-color: #f4f9ff;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-top: 90px;
}

.home_it_service {
  max-width: 1440px;
  margin-inline: auto;
  padding: 100px 20px;
  text-align: center;
}

.it_service h2 {
  font-size: 60px;
  font-weight: 600;
}
.it_service P {
  font-size: 18px;
  padding-block: 30px;
}

.it_service_topic img {
  width: 50px;
  height: 50px;
}
.it_service_topic {
  max-width: 1000px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}
.it_service_topic section {
  grid-column: span 2;
}
.it_service_topic section img {
  width: 100%;
  height: 100%;
}

.it_service_topic div {
  border-radius: 20px;
  padding: 50px 40px 35px;
  text-align: center;
  -webkit-box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.it_service_topic div img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: auto;
}
.it_service_topic div p {
  font-weight: 500;
  font-size: 17px;
  padding-top: 20px;
}

/* ----------- end home | 2nd part Comprehensive IT Services ---------  */

/* ----------- start home | 3rd part successful projects ---------  */
.project_container {
  width: 100%;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.home_project {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  /* gap: 180px; */
  padding: 100px 20px;
}

.left_home_project {
  /* border: 1px solid red; */
  max-width: 269px;
  max-height: 428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left_home_project h3 {
  font-size: 50px;
  color: #172740;
}
.left_home_project p {
  padding-bottom: 70px;
  font-size: 18px;
  color: #172740;
}
.left_home_project button {
  display: flex;
  width: 208px;
  height: 52px;
  border-radius: 25px;
  place-items: center;
  justify-content: center;
  gap: 9px;
  border: 1px solid #172740;
  background-color: white;
}
.left_home_project button img {
  width: 25px;
  height: 20px;
}
.right_home_project {
  display: flex;
  gap: 20px;
}
.right_home_project div {
  position: relative;
}
.right_home_project div img {
  width: 207px;
  height: 428px;
}

.showcase {
  position: relative;
  width: 207px;
  height: 428px;
  overflow: hidden;
  border-radius: 15px;
}
.showcase__bg_img {
  display: block;
  width: 100%;
}
.bg_overlay_navy {
  top: 0;
  left: 0;
  position: absolute !important;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(
    179.95deg,
    rgba(23, 39, 64, 0.8) 38.68%,
    rgba(23, 39, 64, 0.7) 99.95%
  );
  transition: all 0.3s;
  opacity: 0;
}
.showcase__overlay {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  padding: 60px 25px 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    179.95deg,
    rgba(255, 255, 255, 0.02) 1%,
    rgba(255, 255, 255, 0.1) 2.3%,
    rgba(255, 255, 255, 0.7) 25.72%,
    rgba(255, 255, 255, 0.75) 34.47%,
    rgba(255, 255, 255, 0.75) 39.95%
  );
  transform: translateY(190px);
  transition: all 0.3s ease-out;
  height: 100%;
}
.showcase:hover .bg_overlay_navy {
  opacity: 1;
}
.showcase:hover .showcase__overlay {
  transform: translateY(0px);
  background: transparent;
  color: white;
}
.showcase__title {
  /* padding-bottom: 10px; */
  font-size: 18px;
  font-weight: 600;
}
.showcase__description {
  transition: all 0.1s ease-out;
  overflow: hidden;
  opacity: 1;
  font-size: 16px;
  /* font-weight: 600; */
}
.description__hover {
  /* font-weight: 600; */
  font-size: 16px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  color: white;
  transition: all 0.1s ease-out;
}
.showcase:hover .showcase__description {
  height: 0;
  opacity: 0;
}
.showcase:hover .description__hover {
  height: auto;
  opacity: 1;
}
.showcase img.hover_arrow {
  right: 25px;
  bottom: 25px;
  position: absolute !important;
  background-color: #28c8d2;
  border-radius: 50%;
  padding: 12px;
  width: 40px;
  height: 40px;
  display: none;
  transition: all 0.3s;
}
.showcase:hover img.hover_arrow {
  display: block;
}

/* ----------- end home | 3rd part successful projects ---------  */

/* ----------- start home | 4th part the core values ---------  */
.core_value_container {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f4f9ff;

  /* border: 4px solid red; */
}

.home_core_value {
  /* background-color: yellowgreen; */
  max-width: 1440px;
  margin-inline: auto;
  padding: 100px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.core_value_left h4 {
  color: #172740;
  font-size: 50px;
}

.core_value_left p {
  color: #172740;
  font-size: 18px;
  padding-top: 30px;
  padding-right: 55px;
}

.core_value_right {
  /* border: 2px solid green; */
  padding-left: 120px;
  display: grid;
  gap: 60px;
}

.core_value_right section div {
  /* background-color: red; */
  width: 164px;
  height: 183px;
}
.right_section {
  /* background-color: rgb(246, 246, 9); */
  display: flex;
  gap: 150px;
}
.left_section {
  /* background-color: rgb(9, 246, 45); */
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
}
.core_value_right section div.icon_container {
  background-color: #28c8d2;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.core_value_right section div img {
  /* background-color: #28c8d2; */
  /* border-radius: 50%; */
  /* padding: 10px; */
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.titre {
  padding-top: 20px;
  color: #172740;
  font-size: 16px;
  font-weight: 500;
}

.sous_titre {
  color: #172740;
  font-size: 14px;
}
/* ----------- end home | 4th part the core values ---------  */

/* ----------- start home | 5th part spend with your card ---------  */

.card_container {
  /* background-color: rgb(243, 243, 144); */
  max-width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
}

.home_card_container { 
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
  display: grid;
  place-items: center;
}

.home_card_container h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #101010;
  padding-bottom: 60px;
  max-width: 690px;
  text-align: center;
}

.home_card_container section {
  /* border: 2px solid pink; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  padding: 20px;
}

.home_card_container section div {
  /* background-color: #c9d6eb; */
  border: 1px solid rgba(138, 125, 125, 0.2);
  width: 321px;
  height: 168px;
  border-radius: 16px;
  padding-top: 10px;
  padding-inline: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: "Ppppins", sans-serif;
}

.home_card_container section div h6 {
  font-family: "Poppins", sans-serif;
  color: #19b4d2;
  font-size: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.home_card_container section div p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 0;
}

/* ----------- end home | 5th part spend with your card ---------  */

/* ----------- start home | 6th part data loop ---------  */
.data_loop_container {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Satoshi", sans-serif;
  background-color: #f4f9ff;
}

.home_data_loop {
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 100px;
  padding-inline: 20px;
}

.data_loop_top {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-bottom: 40px;
  margin-inline: auto;
}

.data_loop_top div {
  display: flex;
  gap: 20px;
}

.data_img {
  width: 240px;
  height: 240px;
  border: 15px solid white;
  object-fit: cover;
  border-radius: 30px;
}

.data_loop_bottom {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.data_loop_bottom div {
  display: flex;
  gap: 20px;
}

.data_info {
  width: 318px;
  display: flex;
  flex-direction: column;
}
.data_info h6 {
  font-size: 18px;
  padding-bottom: 0;
}
.data_info p {
  font-size: 14px;
}

button.cta {
  width: 165px;
  height: 40px;
  font-size: 12px;
  background-color: #19b4d2;
  color: white;
  display: flex;
  border-radius: 20px;
  border: none;
  justify-content: center;
  place-items: center;
  gap: 10px;
}

button.cta img {
  height: 20px;
  width: 20px;
}
/* ----------- end home | 6th part data loop ---------  */

/* ----------- start home | 7th part customers reviews ---------  */


.review_container {
  max-width: 100%;
  font-family: "Manrope", sans-serif;
  /* margin: 0 auto; */
  border: 2px solid green;
}

.home_review {
  /* border: 2px solid red; */
  padding-top: 100px;
  padding-bottom: 100px;
  /* ----alternative js---- */
  max-width: 1440px;
  margin-inline: auto;
  padding: 100px 20px;
  overflow: hidden;

}

.home_review_top {
  /* border: 3px solid rgb(191, 255, 0); */
  display: flex;
  /* max-width: 1440px; */
  justify-content: space-between;
  padding-bottom: 40px;
  margin-inline: auto;
  /* ----alternative js---- */
  max-width: 1240px;
  
}
div.review_top_testimonial {
  max-width: 416px;
}
div.review_top_testimonial p {
  font-weight: 600;
  font-size: 16px;
  color: #28c8d2;
}
div.review_top_testimonial h4 {
  font-weight: 700;
  font-size: 40px;
  color: #042552;
}

.home_review_top img {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #01d2a1;
  border-radius: 10px;
}
.arrow_div {
  display: flex;
  gap: 15px;
  align-items: end;
}

.arrow_div button{
  border: none;
  background-color: white;
}

.home_review_bottom {
  max-width: 1240px;
  display: flex;
  gap: 20px;
  overflow: hidden; /* Hide overflow content */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile devices */
   /* margin-left: auto; */
  flex-wrap: nowrap;
}

.home_review_bottom > div {
  flex: 0 0 416px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 40px;
  box-shadow: 0px 4px 60px 0px #0d59ef0f;
  max-width: 350px;
  
}

/* Hide scrollbar for WebKit browsers */
.home_review_bottom::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.home_review_bottom {
  scrollbar-width: none; /* For Firefox */
}

/* Hide scrollbar for Internet Explorer and Edge */
.home_review_bottom {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.customer_identity {
  display: flex;
  gap: 20px;
  padding-bottom: 25px;
}

.customer_identity div h6 {
  padding-top: 0;
  padding-bottom: 0;
}

.customer_opinion h6 {
  color: #042552;
  font-size: 20px;
}
.customer_opinion p {
  color: #042552;

  font-size: 14px;
}
.home_review_bottom div img {
  width: 60px;
  height: 60px;
}
.blockquote {
  font-size: 16px;
  color: #042552;
}
/* ----------- end home | 7th part customers reviews ---------  */

/* ----------- start home | 8th part ready to elevate IT infrastructure ---------  */

.testimonial_container {
  box-shadow: 0px 0.5px 0.5px 0px #00000040;
  max-width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0 auto;
  background-image: url(../../img/homepage/cta_contact/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.home_testimonial {
  max-width: 1440px;
  margin-inline: auto;
  padding: 100px 0px;
  display: grid;
  place-items: center;
}

.home_testimonial h3 {
  font-size: 50px;
  font-weight: 500;
  color: #172740;
  max-width: 936px;
  padding-bottom: 30px;
}

.home_testimonial p {
  font-size: 18px;
  font-weight: 400;
  color: #c9d6eb;
  padding-bottom: 30px;
  text-shadow: 0px 4px 4px #00000020;
}

.home_testimonial button {
  font-size: 18px;
  color: white;
  background-color: #28c8d2;
  width: 178px;
  height: 55px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 2px 2px 1px #00000040;

}
/* ----------- end home | 8th part ready to elevate IT infrastructure ---------  */

/* ---------------------------------------- */
/* ----------- MEDIA | QUARIES ---------  */
/* ---------------------------------------- */

/* ----------- end media | Mac 1590px ---------  */
@media only screen and (max-width: 1620px) {
  div.home_hero {
    padding: 0 140px;
  }
  
  .hero_left h1 {
    font-size: 60px;
    line-height: 100px;
    margin-right: 100px;
  }
  .joined_people, .progess_bar{
    max-width: 240px;
  }

  .avatar {
  
    margin: 45px 0px 60px;
   
}

.customer_info p{
  font-size: 16px;
}
  .presentation_image {
    /* max-height: 435px;   */
    max-width: 370px;
  }
   .theme_image_blue {
    /* max-width: 840px; */
    /* min-width: 285px; */
  }
  .customer_info p.digits {
    font-size: 45px;
  }
  
  .progess_bar img {
    padding-top: 10px;
    height: 100%;
    padding-right: 20px;
  }
  .turnover {
    /* display: none; */
      right: -90px;
      bottom: 60px;
    }
  
  .turnover div p {
    font-size: 20px;
  }
  .turnover div p:nth-child(2) {
    font-weight: 600;
    font-size: 50px;
  }
}
  /* ---------end home | first part hero section ---------  */

 /* ----------- start media | Mac 1440px ---------  */ 
@media only screen and (max-width: 1440px) {

/* ---------start home | first part hero section ---------  */

/* ----------- end home | first part hero section ---------  */

/* ----------- start home | 3rd part successful projects ---------  */
.home_project {
  /* padding-inline: 40px; */
  padding-inline: 120px;
}
/* ----------- end home | 3rd part successful projects ---------  */

/* ----------- start home | 4th part successful projects ---------  */
.home_core_value{
  padding-inline: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.core_value_left h4 {
  max-width: 550px;
}

.core_value_left p {
  font-size: 14px;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
}

.core_value_left p {
  padding-right: 140px;
}

.right_section {
  gap:110px;
}
.left_section {
  gap: 110px;
}
/* ----------- end home | 4th part successful projects ---------  */
}
/* ----------- end media | 1440px ---------  */

/* ----------- start media | Mac 1240px ---------  */
@media only screen and (max-width: 1240px) {
  /* ---------start home | first part hero section ---------  */

  /* div.home_hero {
    flex-direction: column;
    padding-inline: 40px;
    gap: 40px;
  } */

  .hero_left h1 {
    font-size: 40px;
    line-height: 50px;
    margin-right: 5px;
  }

  .turnover {
    right: 0px;
    bottom: 60px;
  }

  .turnover div p:nth-child(2) {
    font-size: 40px;
  }

/* ----------- end home | first part hero section ---------  */
  /* ----------- start home | 3rd part successful projects ---------  */
  .project_container {
    /* border: 1px solid lime; */
    width: 100%;
  }
  
  .home_project {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }
  
  .left_home_project {
    /* border: 2px solid green; */
    margin-inline: auto;
    max-width: 100%;
    justify-content: end;
  }
  
  .left_home_project h3 {
    /* border: 2px solid red; */
    font-size: 40px;
  }
  .left_home_project p {
    padding-bottom: 70px;
    font-size: 18px;
  }
  
  .left_home_project button {
    margin-bottom: 10px;
  }
  
  .right_home_project {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 40px;
    padding-inline: 60px;
  }
  
/* ----------- end home | 3rd part successful projects ---------  */

/* ----------- start home | 4th part the core values ---------  */
.core_value_container {
  max-width: 100%;
  margin: 0 auto;
   /* border: 2px solid rgb(4, 0, 128); */
}

.home_core_value {
  /* background-color: #01d2a1; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

.core_value_right {
  /* border: 2px solid green; */
  padding-left: 0px;
  display: grid;
  gap: 90px;
}

.core_value_right section div {
  /* background-color: red; */
  width: 164px;
  height: 183px;
}
.right_section {
  /* background-color: rgb(246, 246, 9); */
  display: flex;
  gap: 80px;
}
.left_section {
  /* background-color: rgb(9, 246, 45); */
  display: flex;
  gap: 80px;
}

/* ----------- end home | 4th part the core values ---------  */
/* ----------- start home | 5th part spend with your card ---------  */
.home_card_container section {
  gap: 40px;
}

.home_card_container section div{
  width: 290px;
}
/* ----------- end home | 5th part spend with your card ---------  */

/* ----------- start home | 6th part data loop ---------  */

.data_loop_top{
  gap: 30px;
}
.data_loop_top div {
  display: flex;
  flex-direction: column;
}

.data_loop_bottom{
  gap: 30px;
}
.data_loop_bottom div {
  display: flex;
  flex-direction: column;
}
.data_img {
  width: 240px;
  height: 240px;
  border: 15px solid white;
  object-fit: cover;
  border-radius: 30px;
}

.data_loop_bottom {
  display: flex;
  justify-content: center;
}
/* ----------- end home | 6th part data loop ---------  */

}
/* ----------- end media | Mac 1240px ---------  */

/* ------ || TABLET || || TABLET || || TABLET || ----- */
/* ----------- start media | tablet ---------  */
@media only screen and (max-width: 992px) {
  /* ---------start home | first part hero section ---------  */
  div.home_hero {
    flex-direction: column;
    /* padding-inline: 140px; */
    padding-inline: 100px;
    gap: 40px;
  }
  
  .hero_left h1 {
    font-size: 40px;
    line-height: 50px;
    margin-right: 5px;
  }
  
  .joined_people, .progess_bar {
    /* max-width: 290px; */
    max-width: 330px;
}

  .presentation_image {
    max-width: 420px;
    min-width: 250px;
  }
   .theme_image_blue {
    max-width: 840px;
    /* min-width: 285px; */
  }
  .turnover {
    /* display: none; */
    right: 0px;
    bottom: 60px;
  }

  .turnover div p:nth-child(2) {
    font-size: 40px;
  }
  /* ---------end home | first part hero section ---------  */
  /* ----------- start home | 2nd part Comprehensive IT Services ---------  */
  .home_it_service {
    max-width: calc(100% - 20vw);
  }

  .it_service h2 {
    font-size: 50px;
    font-weight: 600;
  }

  .it_service_topic {
    max-width: 800px;
    grid-template-columns: repeat(3, 1fr);
  }
  .it_service_topic section {
    display: none;
  }
  .it_service_topic section img {
    width: 100%;
    height: 100%;
  }
  
  .it_service_topic div {
    padding: 30px 20px;
  } 
  /* ----------- end home | 2nd part Comprehensive IT Services ---------  */

  /* ----------- start home | 3rd part successful projects ---------  */
.project_container {
  width: 100%;
}

.home_project {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
}

.left_home_project {
  margin-inline: auto;
  max-width: 100%;
  justify-content: end;
}

.left_home_project h3 {
  font-size: 40px;
}
.left_home_project p {
  padding-bottom: 70px;
  font-size: 18px;
}

.left_home_project button {
  margin-bottom: 100px;
}

.right_home_project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 40px;
  padding-inline: 60px;
}

/* ----------- end home | 3rd part successful projects ---------  */


/* ----------- start home | 4th part the core values ---------  */
.core_value_container {
  max-width: 100%;
  margin: 0 auto;
}

.home_core_value {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

.core_value_right {
  padding-left: 0px;
  display: grid;
  gap: 90px;
}

.core_value_right section div {
  width: 164px;
  height: 183px;
}
.right_section {
  display: flex;
  gap: 30px;
}
.left_section {

  display: flex;
  gap: 30px;
}

/* ----------- end home | 4th part the core values ---------  */


/* ----------- start home | 5th part spend with your card ---------  */

.card_container {
  max-width: 100%;
}

.home_card_container {
  margin-inline: auto;
}

.home_card_container h3 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 60px;
  max-width: 400px;
}

.home_card_container section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 0px;
}

.home_card_container section div {
  width: 180px;
  height: 155px;
  padding-inline: 6px;
}

.home_card_container section div h6 {  
  font-size: 30px;
}

.home_card_container section div p {
  font-size: 14px;
}

/* ----------- end home | 5th part spend with your card ---------  */


/* ----------- start home | 6th part data loop ---------  */

.data_loop_top{
  /* border: 2px solid green; */
  gap: 30px;
}
.data_loop_top div {
  display: flex;
  flex-direction: column;
}

.data_loop_bottom{
  /* border: 2px solid green; */
  gap: 30px;
}
.data_loop_bottom div {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.data_img {
  width: 240px;
  height: 240px;
  border: 15px solid white;
  object-fit: cover;
  border-radius: 30px;
}

.data_loop_bottom {
  display: flex;
  /* gap: 100px; */
  justify-content: center;
}
/* ----------- end home | 6th part data loop ---------  */

/* ----------- start home | 8th part ready to elevate IT infrastructure ---------  */

.home_testimonial {
  margin-inline: auto;
  padding: 100px 15px;
}

.home_testimonial h3 {
  font-size: 40px;
}

/* ----------- end home | 8th part ready to elevate IT infrastructure ---------  */
  
}
/* ----------- end media | tablet ---------  */


/* ------ || MOBILE || || MOBILE || || MOBILE || ----- */
/* ----------- start media | mobile ---------  */
/* @media only screen and (min-width: 601px) and (max-width: 720px) {
  .turnover {
    right: -20px;
  }
} */
@media only screen and (max-width: 600px) {

div.home_container {
    padding-top: 140px;
}
  
/* ---------start home | first part hero section ---------  */

div.home_hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-inline: 40px;
}

.hero_left h1 {
  font-size: 30px;
}

.hero_growth {
  grid-template-areas:
    "joinedPeople"     
    "progress    "
    "presentation";
}

.presentation_image {
  max-height: 435px;  
  max-width: 520px;
  min-width: 285px;
}

.theme_image_blue, .joined_people, .progess_bar {
  max-width: 520px;
  min-width: 285px;
} 

.turnover {
  position: absolute;
  /* right: 235px; */
  left:0;
  bottom: 80px;
}

.turnover div {
  padding: 25px 20px 0px 10px;
  max-width: 100px;
}
.turnover div p {
  font-weight: 100;
  padding-right: 30px;
  margin-right: 30px;
  text-align: left;
  font-size: 10px;
}
.turnover div p:nth-child(2) {
  font-size: 30px;
  padding-top: 5px;
}

/* ---------end home | first part hero section ---------  */

 /* ----------- start home | 2nd part Comprehensive IT Services ---------  */
 .home_it_service {
  max-width: calc(100% - 20vw);
}

.it_service h2 {
  font-size: 30px;
  font-weight: 500;
}

.it_service_topic {
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.it_service_topic section {
  display: none;
}

.it_service_topic div {
  padding: 30px 20px;
}
.it_service_topic div img {
  width: 30px;
  height: 20px;
}

.it_service_topic div p {
  font-weight: 500;
  font-size: 12px;
  padding-top: 20px;
}

/* ----------- end home | 2nd part Comprehensive IT Services ---------  */

/* ----------- start home | 3rd part successful projects ---------  */
.left_home_project {
 padding-left: 50px;
}
.right_home_project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-inline: auto;
}

/* ----------- end home | 3rd part successful projects ---------  */

/* ----------- start home | 4th part the core values ---------  */
.core_value_container {
  max-width: 100%;
}

.home_core_value {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

.core_value_left{
  max-width: 300px;
}
.core_value_left h4{
  max-width: 300px;
  font-size: 30px;
}
.core_value_left p{
 padding-right: 0;
}
.core_value_right {
  max-width: 300px;
  padding-left: 0px;
  display: grid;
  gap: 90px;
}

.right_section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.left_section {
  display: flex;
  gap: 80px;
}

/* ----------- end home | 4th part the core values ---------  */

/* ----------- start home | 5th part spend with your card ---------  */

.card_container {
  max-width: 100%;
}

.home_card_container {
  margin-inline: auto;
  justify-content: left;
}

.home_card_container h3 {
  font-size: 32px;
  font-weight: 500;
  color: #101010;
  padding-bottom: 60px;
  max-width: 390px;
}

.home_card_container section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 90px;
  padding: 0px;
}

.home_card_container section div {
  width: 180px;
  height: 155px;
  padding-inline: 6px;
}

.home_card_container section div h6 {  
  font-size: 30px;
}

.home_card_container section div p {
  font-size: 14px;
}

/* ----------- end home | 5th part spend with your card ---------  */

/* ----------- start home | 6th part data loop ---------  */

.data_loop_top {
  display: flex;
  flex-direction: column;
}

.data_loop_top div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data_img {
  width: 240px;
  height: 240px;
  border: 15px solid white;
  object-fit: cover;
  border-radius: 30px;
}

.data_loop_bottom {
  display: flex;
  flex-direction: column;
}

/* ----------- end home | 6th part data loop ---------  */

/* ----------- start home | 8th part ready to elevate IT infrastructure ---------  */

.home_testimonial {
  margin-inline: auto;
  padding: 100px 15px;
}

.home_testimonial h3 {
  font-size: 25px;
}

.home_testimonial button {
  font-size: 14px;
  width: 150px;
  height: 50px;
}
/* ----------- end home | 8th part ready to elevate IT infrastructure ---------  */

}
/* ----------- end media | mobile ---------  */
